@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;500;700;900&family=Tauri&display=swap');

:root {
    --primaryTextColor: #2c82fa;
    --secondaryTextColor: #232e35; 

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #FFC0CB;
    --primaryIconColorHover: #656d72;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
} 

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Buttons */
.btn {
    padding: 1rem 1.5rem;
    background: rgb(4, 82, 249);
    border: 2px solid var(--borderColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 24px;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Titles */
.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.5rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.caption {
    display: none; /* Semua teks caption disembunyikan secara default */
    text-align: center;
}

.caption.active {
    display: block; /* Tampilkan teks caption yang aktif */
}

/* Logo and Navigation Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    font-weight: 600;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

/* Burger */
.burger {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}  

.image-container img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.hero-name {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem 0 1rem;
}
  
.hero-right img {
    width: 80%;
}
  
.hero-right {
    display: flex;
    justify-content: center;
}

/* Gallery Section */
.Gallery .pre-title {
    margin: 0 auto;
}

.section-title {
    text-align: center;
}

.Gallery img {
    display: block;
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    text-align: center;
}

.slide {
    display: none; /* Sembunyikan semua slide secara default */
    transition: opacity 1s; /* Efek transisi saat slide berubah */
}

.slide.active {
    display: block; /* Tampilkan slide yang aktif */
}

.slideshow {
    position: relative; /* Pertahankan posisi relatif untuk kontainer */
    overflow: hidden; /* Jaga agar slide tidak keluar dari kontainer */
    width: 500px;
    margin: 50px auto;
    
}

.slide img {
    width: 100%; /* Atur lebar gambar agar sesuai dengan kontainer */
}

/* Blog Section */
.Blog .pre-title {
    margin: 0 auto;
}

.section-title {
    font-size: 2rem;
    text-align: center;
}

/* Contact Section */
#contact {
    padding: var(--sectionPadding);
}